<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.byoutline.kickmaterial">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KickMaterialApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_kick_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">


        <activity
            android:name="com.byoutline.kickmaterial.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.byoutline.kickmaterial.activities.ProjectDetailsActivity"
            android:parentActivityName="com.byoutline.kickmaterial.activities.MainActivity" />
        <activity android:name="com.byoutline.kickmaterial.activities.RewardsListActivity" />
        <activity android:name="com.byoutline.kickmaterial.activities.CategoriesListActivity" />
        <activity
            android:name="com.byoutline.kickmaterial.activities.VideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.byoutline.secretsauce.activities.WebViewActivityV7"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name="com.byoutline.secretsauce.activities.WebViewFlickrActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Base" />

    </application>

    <instrumentation
        android:name="com.jakewharton.u2020.U2020TestRunner"
        android:targetPackage="com.byoutline.kickmaterial"
        />
</manifest>
